
@model coffee_shop.viewmodels.MultiModels
@using coffee_shop.Models;
@using System.Web;
@{
    ViewBag.Title = "Admin";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- design css file link  -->
<link rel="stylesheet" href="~/Content/Site.css">

<script type="text/javascript">
    function AddtoCart() {
        
        $.ajax({
            async: true, type: 'POST', contentType: false, processData: false, data: formData, url: '/UserModels/AddTinside',
            success: function (data) { if (data.success) { $("#cartitem").text("Cart(" + data.Counter + ")"); } }
            , error: function () {
                alert("Problem occured")
            }
        })
    }</script>



<header class="header">

    <a href="#" class="logo">
        <img src="~/assets/images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="#menu">Menu</a>
        <a href="#tables">Tables</a>


    </nav>


</header>



<!-- home section ends -->
<!-- menu section starts  -->
<body>
    <section class="menu" id="menu">

        <h1 class="heading"> our <span>menu</span> </h1>
        <div class="box-container">
            @foreach (product mypro in Model.products)
            {



                <div class="box">
                    <img src="@Url.Content(mypro.imagePath)" />
                    <h3>  @mypro.productName</h3>
                    <h2>@mypro.productDesc</h2>
                    <div class="price"> @mypro.productPrice <span> @mypro.productOldP</span></div>
                    <div>

                        &nbsp;
                        <div>

                            <input onclick="javascript:window.location=('@Url.Action("Delete", "UserModels", new { id = mypro.productId })')" type="button" value="Delete product" class="btn btn-primary" id="btnSave" />
                            &nbsp;
                            <input onclick="javascript:window.location=('@Url.Action("Edit", "UserModels", new { id = mypro.productId })')" type="button" value="Edit Price" class="btn btn-primary" id="btnSave" />

                        </div>

                    </div>

                </div>
            }

        </div>




    </section>


    <section class="login" id="login">
        <h1 class="heading"> <span>Add item to menu</span> </h1>




        <div class="row">
            @using (Html.BeginForm("Submit", "UserModels", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="inputBox">
                    <span class="fas fa-id-card"></span>
                    @Html.EditorFor(model => model.myprod.productId, new { htmlAttributes = new { @placeholder = "product ID" } })
                    @Html.ValidationMessageFor(model => model.myprod.productId, "", new { @class = "text-danger" })
                </div>
                <div class="inputBox">
                    <span class="fas fa-id-card"></span>
                    @Html.EditorFor(model => model.myprod.productName, new { htmlAttributes = new { @placeholder = "Product Name" } })
                    @Html.ValidationMessageFor(model => model.myprod.productName, "", new { @class = "text-danger" })
                </div>
                <div class="inputBox">
                    <span class="fas fa-info"></span>
                    @Html.EditorFor(model => model.myprod.productDesc, new { htmlAttributes = new { @placeholder = "Product Description" } })
                    @Html.ValidationMessageFor(model => model.myprod.productDesc, "", new { @class = "text-danger" })
                </div>
                <div class="inputBox">
                    <span class="fas fa-shekel-sign"></span>
                    @Html.EditorFor(model => model.myprod.productPrice, new { htmlAttributes = new { @placeholder = "Product Price" } })
                    @Html.ValidationMessageFor(model => model.myprod.productPrice, "", new { @class = "text-danger" })
                </div>
                <div class="inputBox">
                    <span class="fas image"></span>
                    @Html.EditorFor(model => model.myprod.imagePath, new { htmlAttributes = new { type = "File" } })

                </div>



                <div>
                    <input type="submit" value="add item to menu" class="btn btn-primary" id="btnSave" />
                    &nbsp;
                    <input type="reset" value="Reset" name="reset" class="btn btn-danger" />

                </div>
            }
        </div>


    </section>


    <!-- menu section ends -->
    <!-- book table section start -->

    <section class="tables" id="tables">


        <h1 class="table_heading"> <span> Book your table: </span> </h1>

        <div class="inside_tables" id="inside">
            @using (Html.BeginForm("AddTinside", "UserModels", FormMethod.Post))
            {<div>
                    <input type="submit" value="add Table" class="btn btn-primary" id="btnSave" />
                    

                </div>
            }

            @using (Html.BeginForm("removeTinside", "UserModels", FormMethod.Post))
            {<div>
                    <input type="submit" value="Remove Table" class="btn btn-primary" id="btnSave" />
                 

                </div>
            }



            <h1 class="heading"> inside Tables: </h1>
            <div class="box-container">

                @foreach (seat place in Model.seats)
                {
                    if (place.place.Trim() == "inside")
                    {
                        <div class="box">
                            <img src="~/assets/images/table.png" alt="">
                            <h3>Two persons table</h3>
                            <style>
                        .tables .box-container .box {
                            padding: 5rem;
                            text-align: center;
                            border: var(--border);
                            background-color: @place.occupied;
                        }
                            </style>
                            <a href="#" class="btn">Reserve!</a>
                        </div>



                    }
                }

            </div>





        </div>
        <div class="outside_tables" id="out">
            <h1 class="heading"> outside Tables: </h1>
            @using (Html.BeginForm("AddTout", "UserModels", FormMethod.Post))
            {<div>
                    <input type="submit" value="add Table" class="btn btn-primary" id="btnSave" />


                </div>
            }

            @using (Html.BeginForm("removeTout", "UserModels", FormMethod.Post))
            {<div>
                    <input type="submit" value="Remove Table" class="btn btn-primary" id="btnSave" />


                </div>
            }

            <div class="box-container">

                @foreach (seat place in Model.seats)
                {
                    if (place.place.Trim() == "out")
                    {
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>
                    <style>
                        .tables .box-container .box {
                            padding: 5rem;
                            text-align: center;
                            border: var(--border);
                            background-color: @place.occupied;
                        }
                    </style>
                    <a href="#" class="btn">Reserve!</a>
                </div>

                    }

                }


            </div>

        </div>


    </section>
    <!-- book table section ends-->
    <!-- footer section starts  -->

</body>


<!-- custom js file link  -->
<script>src = "~/Scripts/myFunctions/script.js</script>
<script>src = "~/Scripts></script>



